In [21]:
#import splinter and beautifulsoup
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager

#import pandas
import pandas as pd

In [3]:
#set executable path
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 98.0.4758
Get LATEST chromedriver version for 98.0.4758 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/98.0.4758.102/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\astat\.wdm\drivers\chromedriver\win32\98.0.4758.102]

In [6]:
#visit the mars nasa news site
url = 'https://redplanetscience.com'
browser.visit(url)
#optional delay for loading the webpage
#searching for elements with div tag and list attirbute
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [8]:
#set up HTML parser
html = browser.html
news_soup = soup(html, 'html.parser')
#'.' is used for selecting classes
#tells scraper to look for <div /> tag
slide_elem = news_soup.select_one('div.list_text')

In [9]:
#begin scraping
slide_elem.find('div', class_='content_title')

In [10]:
#use the parent element to find the first 'a' tag and save it as 'news_title'
news_title = slide_elem.find('div', class_='content_title').get_text()
news_title

"Deadline Closing for Names to Fly on NASA's Next Mars Rover"

In [11]:
#use the parent element to find the paragraph text
news_p = slide_elem.find('div', class_='article_teaser_body').get_text()

### Featured Images

In [17]:
# visti url
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [18]:
#find and click on the full image button
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [19]:
#parse the resulting html with soup
html = browser.html
img_soup = soup(html, 'html.parser')
#find the relative image url
img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')
img_url_rel

'image/featured/mars2.jpg'

In [20]:
#use the base url to create an abosolute url for our image
img_url = f'https://spaceimages-mars.com/{img_url_rel}'
img_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

In [22]:
#use pandas to scrape the table
df = pd.read_html('https://galaxyfacts-mars.com')[0]
df.columns=['description', 'Mars','Earth']
df.set_index('description', inplace=True)
df

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [23]:
#quit the browser
#this will exit the tab/window
browser.quit()